.contact{
  background-color: $color-contast;
}
.input{
    display: block;
    width: 100%;
    border-width: 0px 0px 3px;
    border-style: none none solid;
    border-color: $color-main;
    width: 100%;
    font-size: 16px;
    letter-spacing: -1px;
    outline: medium none;
    padding: 15px;
    margin-bottom: 15px;
    @media (min-width: $breakpoint-mobile) {
      width: 66%;
    }
}
.error{
  background:$color-form;
}
.send{
  padding: 15px;
  border: 0px none;
  background-color: $color-main;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  outline: medium none;
  &:hover{
    background: white;
    color: $color-main;
  }
  &:disabled{
    background: #E3E3E3;
    color: $color-contast;
  }
}
.send-status{
  margin: 20px 0;
  color: $color-main;
}
