.footer {
  background-color: $color-main;
  &__logo {
    display: none;
    @media (min-width: $breakpoint-mobile) {
    display: inline-block;
    }
  }
}

.copyright{
  margin: 0;
  font-size: 1.1428rem;
}
