

.filter{
    display: none;
    justify-content: center;
    &__item{
      background: white;
      padding: 10px 20px;
      line-height: 15px;
      color: $color-text;
      text-transform: uppercase;
      text-decoration: none;
      border-width: 1px;
      border-style: solid none solid solid;
      border-color: $color-grey;
      cursor: pointer;
      &:hover{
        background: $color-main;
      }
      &:last-child{
        border-right: 1px solid $color-grey;
      }
      &.is-active{
      background: $color-main;
      }
    }
    @media (min-width: $breakpoint-mobile) {
      display: flex;
    }
  }
  .mix{
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    &__item{
      display: none;
      width: 100%;
      padding: 5px 5px 0 0;
      position: relative;
      @media (min-width: $breakpoint-mobile-small) {
        width: 50%;
      }
      @media (min-width: $breakpoint-mobile) {
        width: 32%;
      }
    }
    &__hover{
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 0;
      left:0;
      transition-duration: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &:hover, &:focus{
        background: rgba(90, 197, 196, 0.8) none repeat scroll 0% 0%;
        .mix__link{
          visibility: visible;
          transition-duration: 0.2s;
        }
      }
    }
    &__link{
      visibility: hidden;
      display: block;
      width: 54px;
      height: 54px;
      margin: 0 5px;
      background: $color-text;
      font-size: 32px;
      color: white;
      text-align: center;
      line-height: 48px;
      border-radius: 50%;
      transition-duration: 0.2s;
      &--web{
          line-height: 56px;
      }
    }
    &__img{
      width: 100%;
      height: auto;
      display: block;
      padding: 5px;
      border: 1px solid $color-grey;
    }
  }
