// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Inport Tools
@import '../../node_modules/normalize.css/normalize.css';
@import '/1-tools/_vars';
@import '/1-tools/_bmn-fonts';

// Import Basics
@import '/2-basics/_links';
@import '/2-basics/_typography';
@import '/2-basics/_layout';
@import '/2-basics/_miscellaneous';

// Import Modules
@import '/3-modules/_intro';
@import '/3-modules/_header';
@import '/3-modules/_about';
@import '/3-modules/_resume';
@import '/3-modules/_portofolio';
@import '/3-modules/_contact';
@import '/3-modules/_footer';
