//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$color-main:#5AC5C4;
$color-text: #333;
$color-contast:#32323C;
$color-grey:#DBDBDB;
$color-form:#FFFFDF;

$breakpoint-mobile-small:360px;
$breakpoint-mobile:768px;
$breakpoint-tablet:980px;
$breakpoint-desktop:1200px;
