//About section
.about#about
  .row
    .left
      h2.huge About 
        br
        |me
      img(src="images/bogdan.png", alt="Bogdan's photo", class="lazyload")
    .right
      .right__icon.icon-cog
      p Passionate web developer and teacher, I combine my expertise with my motto “The Only Sure Thing is Change” to create UX-oriented apps and help my colleagues to improve themselves.
      p Also, in my spare time, I pursue my hobby as a "cutting edge tech addicted" and use all my work-related knowledge to make awesome videos on Youtube.
      
      .line.line--50 Trainer
      .line.line--90 Web developer (HTML, CSS, Javascript, React, Angular and Nodejs)
      .line.line--25 Youtuber
  img(src='images/neuron-about-right-top.jpg' alt='Neuron web' srcset='images/neuron-about-right-top-2x.jpg 2x' class="n-about-right-top")
  img(src='images/neuron-about-right.png' alt='Neuron web' srcset='images/neuron-about-right-2x.png 2x' class="n-about-right")