//About section
.about#about
  .row
    .left
      h2.huge About 
        br
        |me
      img(src="images/bogdan.png", alt="Bogdan's photo", class="lazyload")
    .right
      .right__icon.icon-cog
      p Passionate web developer I combine my expertise with my motto “The Only Sure Thing is Change” and help my employer's company to develop and find new ways to approach this competitive market. Also in my spare time I pursue my hobby as a "cutting edge tech addicted" and using all my work related knowledge I try to make small businesses better visible in the internet.
      p Good knowledge: HTML5, CSS3 (LESS, SASS), JavaScript, jQuery, Ajax, NPM, Gulp, Adobe Creative Suite.
      p Basic knowledge of ASP.NET, Angular JS and React JS.
      
      .line.line--html HTML5
      .line.line--css CSS3
      .line.line--js JavaScript
