
//Contact section

#contact.contact
  .row
    .left
      h2.huge Get
        br
        |in
        br
        |Touch
      p
        | Bucharest, ROMANIA
        span.icon-location
    .right
      .right__icon.right__icon--mail.icon-mail-alt
      p Feel free to ask any questions via the contact form. <br/> * means a required field. 
      div(id="contact-form")
        label(for="userName") Name
        input(id="userName", type="text", name="name", placeholder="* your name", class="input", required)
        label(for="userEmail") Email
        input(id="userEmail", type="email", name="email", placeholder="* your email", class="input", required)
        label(for="subject") Subject
        input(id="subject", type="text", name="subject", placeholder="* subject", class="input", required)
        label(for="content") Message
        textarea(id="content", name="message", rows="5", placeholder="* your message", class="input", required)
        button(class="send") Send
      p.send-status

      img(data-src='images/neuron-contact-left.jpg' alt='Neuron with a book' data-srcset='images/neuron-contact-left-2x.jpg 2x' class="n-contact-left lazyload")
      img(data-src='images/neuron-contact-right.png' alt='Neuron web' data-srcset='images/neuron-contact-right-2x.png 2x' class="n-contact-right lazyload")
  
