
//Contact section

.contact#contact
  .row
    .left
      h2.huge.invert Get
        br
        |in
        br
        |Touch
      p.invert +40744337867 
        span.icon-phone
        br
        a(href="mailto:bogdan@bmn.com.ro") bogdan@bmn.com.ro
        span.icon-mail-alt
        br 
        | Bucharest, ROMANIA
        span.icon-location
    .right
      .right__icon.right__icon--mail.icon-mail-alt
      p.invert Feel free to ask any questions via the contact form. <br/> * means a required field. 
      div(id="contact-form")
        input(id="userName", type="text", name="name", placeholder="* your name", class="input", required)
        input(id="userEmail", type="email", name="email", placeholder="* your email", class="input", required)
        input(id="subject", type="text", name="subject", placeholder="* subject", class="input", required)
        textarea(id="content", name="message", rows="5", placeholder="* your message", class="input", required)
        button(class="send") Send
      p.send-status
