
//Portofolio section

header.header
  .header__wrapper
    .brand Bogdan
    nav.nav
      a(href="#about", class="nav__item") 
        span.nav__icon.icon-cog 
        |About me
      a(href="#resume", class="nav__item") 
        span.nav__icon.icon-leaf 
        |Resume
      a(href="#contact", class="nav__item") 
        span.nav__icon.icon-mail-alt
        |Contact
    .btn
      span.btn__item
      span.btn__item
      span.btn__item
