
//Intro section

.intro
  h1.large.invert Hello, my name is
    br
    span.huge.invert Bogdan Mihai Nicolae 
    br
    |I'm a web developer and small designer
  .intro__social
    a(href="https://www.facebook.com/nicolaebogdanmihai", target="_blank").intro__icon.icon-facebook
    a(href="http://www.linkedin.com/in/bogdanmihainicolae", target="_blank").intro__icon.icon-linkedin
    a(href="https://plus.google.com/u/0/+BogdanMihaiNicolaeRO", target="_blank").intro__icon.icon-gplus
    a(href="https://github.com/BogdanMihaiNicolae", target="_blank").intro__icon.icon-github

  a(href="#", class='intro__arrow icon-down-open')
  
