
//Intro section

.intro
  h1.large.invert Hello, my name is
    br
    span.huge.invert Bogdan Mihai Nicolae 
    br
    |I'm a web developer and small designer
  .intro__social
    a(href="https://twitter.com/bogminic", target="_blank").intro__icon.icon-twitter
    a(href="http://www.linkedin.com/in/bogdanmihainicolae", target="_blank").intro__icon.icon-linkedin
    a(href="https://github.com/bogminic", target="_blank").intro__icon.icon-github

  a(href="#about", class='intro__arrow icon-down-open')
  
