//Resume section
.resume#resume
  .row
    .left
      h2.huge.invert Resume

    .right
      .right__icon.right__icon--leaf.icon-leaf
      .resume__item
        .resume__position Web Designer and developer
        .resume__company Freelancer
        .resume__description I've learned and tried to master languages such as HTML5, CSS3, JavaScript (AngularJS and ReactJS), and much more. I'm experienced in Adobe Photoshop, Adobe Illustrator and other graphic and web design programs. When I design, I always try to be unique and push the boundaries. So now you know a bit about me. Check out my work, or if you are really interested, head over to the contact area and shoot me an email.
      .resume__item
        .resume__icon.icon-users
        .resume__position Front-End Developer 
        .resume__company Gentlab 
          span.resume__year ( 2016 - now )
        .resume__description My primary focus is to implement a complete user interface in the form of desktop web app, with a focus on performance and user experienced. My main duty is to create modules and components and coupling them together into a functional app using AngularJS.
 
      .resume__item
        .resume__icon.icon-users
        .resume__position Front-End Developer 
        .resume__company Toorad Solutions 
          span.resume__year ( 2015 - 2016 )
        .resume__description Using industry's best practices I've developed responsive and adaptive applications using HTML, CSS (LESS, SASS) and JavaScript (jQuery, Ajax). 
      .resume__item
        .resume__icon.icon-users
        .resume__position Head of Market Research & Analysis Office
        .resume__company ISPH Project Development  
          span.resume__year ( 2013 - 2015 )
        .resume__description I've collected relevant information, concerning the macro-economic environment and market players, in order to signal relevant trends and market developments. Olso I've execute analyses concerning trends and developments in the market, competitor and customer behaviour and the impact of intended Marketing campaigns, based on collected information, in order to be able to identify relevant opportunities and threats for the organization. 
      .resume__item
        .resume__icon.icon-users
        .resume__position Design Engineer
        .resume__company ISPH 
          span.resume__year ( 2008 - 2013 )
        .resume__description  I've elaborated the documentation and technical specifications for all project stages from planning to commissioning. I've given technical assistance to the clients. I've participated with papers at conferences and exhibitions.
