//Resume section
.resume#resume
  .row
    .left
      h2.huge.invert Resume

    .right
      .right__icon.right__icon--leaf.icon-leaf
      .resume__item
        .resume__position Web developer consultant
        .resume__company Freelancer
        .resume__description I provide consulting services regarding web technologies  such as HTML, CSS, JavaScript, Angular, React, Nodejs. I also have experience with SEO, performance optimisation and security.
      .resume__item
        .resume__icon.icon-users
        .resume__position Software developer
        .resume__company Deutsche Bank
          span.resume__year ( 2017 - now )
        .resume__description I am responsible for designing, developing and maintaining single page applications using Angular and Nodejs. I am also supporting and sharing knowledge by mentorship programs and training sessions.
      .resume__item
        .resume__icon.icon-users
        .resume__position Teachhing Assistant
        .resume__company Department of Computer Science, University of Bucharest
          span.resume__year ( 2017 - now )
        .resume__description I help students to learn and practice web technologies like HTML, CSS, Javascript and Nodejs.
      
      .resume__item
        .resume__icon.icon-users
        .resume__position Front-End Developer
        .resume__company Gentlab
          span.resume__year ( 2016 - 2017 )
        .resume__description My primary focus was to implement a complete user interface oriented on  performance and user experience using Angularjs. Also, I have developed and published 2 mobile apps in Google Play and App Store using React Native.
 
      .resume__item
        .resume__icon.icon-users
        .resume__position Front-End Developer
        .resume__company Toorad Solutions
          span.resume__year ( 2015 - 2016 )
        .resume__description Using industry's best practices, I have developed responsive and adaptive framework using HTML, CSS and JavaScript.
      .resume__item
        .resume__icon.icon-users
        .resume__position Head of Market Research & Analysis Office
        .resume__company ISPH Project Development
          span.resume__year ( 2013 - 2015 )
        .resume__description I have collected relevant information, concerning the macro-economic environment and market players, in order to signal relevant trends and market developments. Also, I have executed analyses concerning trends and developments in the market, competitor and customer behaviour and the impact of intended Marketing campaigns.
      .resume__item
        .resume__icon.icon-users
        .resume__position Design Engineer
        .resume__company ISPH
          span.resume__year ( 2008 - 2013 )
        .resume__description  I have elaborated the documentation and technical specifications for all project stages from planning to commissioning. I have given technical assistance to the clients and also participated with papers at conferences and exhibitions.
    img(src='images/neuron-resume-left.png' alt='Neuron with a book' srcset='images/neuron-resume-left-2x.png 2x' class="n-resume-left")
    img(src='images/neuron-resume-right.png' alt='Neuron web' srcset='images/neuron-resume-right-2x.png 2x' class="n-resume-right")