
.line {
  margin: 25px 0 0 -25px;
  padding-left: 25px;
  background-color: $color-main;
  line-height: 30px;
  white-space: nowrap;
  color: white;

  &--50 {
    width: 50%;
    margin-top: 50px;
  }

  &--90 {
    width: 90%;
  }

  &--25 {
    width: 25%;
    margin-bottom: 25px;
  }
}
