.input {
  display: block;
  width: 100%;
  border-width: 0 0 3px;
  border-style: none none solid;
  border-color: $color-main;
  font-size: 16px;
  letter-spacing: -1px;
  outline: medium none;
  padding: 15px;
  margin-bottom: 15px;
  background: $color-contast;
  color: $color-grey;

  @media (min-width: $breakpoint-mobile) {
    width: 66%;
  }
}

.error {
  background: $color-form;
}

.send {
  padding: 15px;
  border: 0 none;
  background-color: $color-main;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  outline: medium none;

  &:hover {
    background: $color-contast;
    color: $color-main;
    cursor: pointer;
  }

  &:disabled {
    background: #e3e3e3;
    color: $color-contast;
  }
}

.send-status {
  margin: 20px 0;
  color: $color-main;
}

.n-contact-right {
  position: absolute;
  right: 0;
  bottom: -102px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.n-contact-left {
  position: absolute;
  left: 0;
  top: 0;

  @media (max-width: $breakpoint-desktop-big) {
    display: none;
  }
}

.contact {
  position: relative;
}
