//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$color-main:#5ac5c4;
$color-text: #333;
$color-contast:#32323c;
$color-grey:#dbdbdb;
$color-form:#ffffdf;

$breakpoint-mobile-small:360px;
$breakpoint-mobile:768px;
$breakpoint-tablet:980px;
$breakpoint-desktop:1200px;
