.footer {
    background-color: var(--color-main);
}

.footer__logo {
    display: none;
}

@media (min-width: 768px) {
    .footer__logo {
        display: inline-block;
    }
}

.copyright {
    margin: 0;
    font-size: 1.1428rem;
}