html {
    font-size: 87.5%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

/* Headings */
.huge,
.large,
h1,
h2 {
    color: var(--color-text);
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}

.huge,
h1 {
    font-size: 2.618rem;
    line-height: 1;
    margin: 0 0 50px 0;
}

@media (min-width: 768px) {

    .huge,
    h1 {
        font-size: 4.236rem;
    }
}

.large,
h2 {
    font-size: 1.618rem;
    line-height: 1;
}

@media (min-width: 768px) {

    .large,
    h2 {
        font-size: 2.618rem;
    }
}

/* Basic Text Style */
p {
    margin: 0 0 20px 0;
}


/* helper class */
.invert {
    color: var(--color-white);
}